@import 'tailwindcss';

@layer theme, base, mui, components, utilities;

@theme {
  --color-brand-50: var(--mui-palette-brand-50);
  --color-brand-100: var(--mui-palette-brand-100);
  --color-brand-200: var(--mui-palette-brand-200);
  --color-brand-300: var(--mui-palette-brand-300);
  --color-brand-400: var(--mui-palette-brand-400);
  --color-brand-500: var(--mui-palette-brand-500);
  --color-brand-600: var(--mui-palette-brand-600);
  --color-brand-700: var(--mui-palette-brand-700);
  --color-brand-800: var(--mui-palette-brand-800);
  --color-brand-900: var(--mui-palette-brand-900);

  --color-neutral-50: var(--mui-palette-neutral-50);
  --color-neutral-100: var(--mui-palette-neutral-100);
  --color-neutral-200: var(--mui-palette-neutral-200);
  --color-neutral-300: var(--mui-palette-neutral-300);
  --color-neutral-400: var(--mui-palette-neutral-400);
  --color-neutral-500: var(--mui-palette-neutral-500);
  --color-neutral-600: var(--mui-palette-neutral-600);
  --color-neutral-700: var(--mui-palette-neutral-700);
  --color-neutral-800: var(--mui-palette-neutral-800);
  --color-neutral-900: var(--mui-palette-neutral-900);
}

:root {
  /* global variables */
  --header-height: 56px;
  --sidebar-width: 240px;
  --collapsed-sidebar-width: 64px;

  /* colors go here */
  --brand-50: var(--mui-palette-brand-50);
  --brand-100: var(--mui-palette-brand-100);
  --brand-200: var(--mui-palette-brand-200);
  --brand-300: var(--mui-palette-brand-300);
  --brand-400: var(--mui-palette-brand-400);
  --brand-500: var(--mui-palette-brand-500);
  --brand-600: var(--mui-palette-brand-600);
  --brand-700: var(--mui-palette-brand-700);
  --brand-800: var(--mui-palette-brand-800);
  --brand-900: var(--mui-palette-brand-900);

  --neutral-50: var(--mui-palette-neutral-50);
  --neutral-100: var(--mui-palette-neutral-100);
  --neutral-200: var(--mui-palette-neutral-200);
  --neutral-300: var(--mui-palette-neutral-300);
  --neutral-400: var(--mui-palette-neutral-400);
  --neutral-500: var(--mui-palette-neutral-500);
  --neutral-600: var(--mui-palette-neutral-600);
  --neutral-700: var(--mui-palette-neutral-700);
  --neutral-800: var(--mui-palette-neutral-800);
  --neutral-900: var(--mui-palette-neutral-900);

  --success-50: var(--mui-palette-success-50);
  --success-100: var(--mui-palette-success-100);
  --success-200: var(--mui-palette-success-200);
  --success-300: var(--mui-palette-success-300);
  --success-400: var(--mui-palette-success-400);
  --success-500: var(--mui-palette-success-500);
  --success-600: var(--mui-palette-success-600);
  --success-700: var(--mui-palette-success-700);
  --success-800: var(--mui-palette-success-800);
  --success-900: var(--mui-palette-success-900);

  --warning-50: var(--mui-palette-warning-50);
  --warning-100: var(--mui-palette-warning-100);
  --warning-200: var(--mui-palette-warning-200);
  --warning-300: var(--mui-palette-warning-300);
  --warning-400: var(--mui-palette-warning-400);
  --warning-500: var(--mui-palette-warning-500);
  --warning-600: var(--mui-palette-warning-600);
  --warning-700: var(--mui-palette-warning-700);
  --warning-800: var(--mui-palette-warning-800);
  --warning-900: var(--mui-palette-warning-900);

  --error-50: var(--mui-palette-error-50);
  --error-100: var(--mui-palette-error-100);
  --error-200: var(--mui-palette-error-200);
  --error-300: var(--mui-palette-error-300);
  --error-400: var(--mui-palette-error-400);
  --error-500: var(--mui-palette-error-500);
  --error-600: var(--mui-palette-error-600);
  --error-700: var(--mui-palette-error-700);
  --error-800: var(--mui-palette-error-800);
  --error-900: var(--mui-palette-error-900);

  --custom-error-50: #ffe5e5;
  --custom-error-500: #ef4444;

  --custom-success-50: #e6faf0;
  --custom-success-500: #15803d;
  --custom-divider-color: #d1d5db;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: var(--brand-500);
}
